{% extends "base.html" %}

{% block content %}
<h1 class="title">Lista de Serviços</h1>

<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Empresas</th>
        </tr>
    </thead>
    <tbody>
        {% for servico in servicos %}
        <tr>
            <td>{{ servico.nome }}</td>
            <td>{{ servico.descricao }}</td>
            <td>R$ {{ servico.preco }}</td>
            <td>
              {% if servico.fornecedores %}
                {% for fornecedor in servico.fornecedores %}
                    {{ fornecedor.nome }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              {% else %}
                Nenhuma empresa vinculada
              {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Nenhum serviço cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
